name: Test

# Look at this: https://github.com/iterative/dvc/pull/7213
# Forum: https://discuss.dvc.org/t/cml-github-actions-google-drive-service-account/795/3?fbclid=IwAR21DBJ3bP2m3VwZ7EUp4U1ik0YQbNRgAIdemg14msCC7UtnaBao81oTTDE
# https://github.com/iterative/cml#using-cml-with-dvc
# https://github.com/iterative/dvc.org/blob/master/content/docs/user-guide/setup-google-drive-remote.md
# https://www.ravirajag.dev/blog/mlops-github-actions

on:
  push:

jobs:
  test:

    runs-on: [ubuntu-latest]

    # The process
    steps:
      - name: Set up Python 
        uses: actions/setup-python@v2

      - uses: actions/checkout@v2

      - name: Install dependencies locally
        run: |
          sudo apt-get update
          sudo apt-get install ffmpeg libsm6 libxext6 -y

      - name: Install ChimeraPy
        run: |
          python3 -m pip install .

      - name: Setup DVC
        uses: iterative/setup-dvc@v1

      - name: Create credentials
        id: create-json
        uses: jsdaniell/create-json@1.1.2
        with:
          name: "service_account_secret.json"
          json: ${{ secrets.SERVICE_ACCOUNT_JSON }}

      - name: Download Test data
        run: |
          dvc remote modify myremote --local gdrive_use_service_account true
          dvc remote modify myremote --local gdrive_service_account_json_file_path service_account_secret.json 
          dvc pull --run-cache -v 

      - name: Test with unittest
        run: |
          python -m unittest discover
